.danger-text {
  color: #ea5455;
}

.is-danger {
  border-color: #ea5455 !important;
  border: 1px solid #ea5455;
  border-radius: 8px;
  border-style: solid;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #ff6f61;
  border-color: #ff6f61;
}

.custom-back {
  width: 90px;
  padding: 8px 0px 6px 16px;
}
.v-field__outline.text-primary {
  color: unset !important;
}

.v-tooltip > .v-overlay__content {
  background: #ea5455 !important;
}

.search-style .relative {
  border-radius: 5px;
}
